/*     font-family: 'Montserrat', sans-serif; */

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background-color: bisque;
}

.todoListApp__title {
  align-self: flex-start;
}

@media (max-width: 457px) {
  .todoListApp__title {
    align-self: unset;
  }
}

.todoListApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}

.todoForm {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 202, 151);
  width: 100%;
  padding: 50px 30px 30px;
}

@media (max-width: 457px) {
  .todoForm {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 15px 15px;
  }
}

.todoForm__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0 0 30px;
}

@media (max-width: 457px) {
  .todoForm__label {
    position: initial;
    padding: 0px;
    margin-bottom: 15px;
  }
}

.todoForm__input {
  border: none;
  flex-basis: 75%;
  margin-right: 20px;
  padding: 10px;
}

@media (max-width: 457px) {
  .todoForm__input {
    flex-basis: 100%;
    margin-right: 0px;
  }
}

.todoForm__buttonAdd {
  border: none;
  padding: 5px 15px;
}

@media (max-width: 457px) {
  .todoForm__buttonAdd {
    margin-top: 20px;
    flex-basis: 100%;
  }
}

.todoListContainer {
  width: 100%;
}

.todoList {
  padding: 0;
}

.todoList__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style: none;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid black;
  z-index: 0;
}

.todoList__itemContent {
  flex-basis: 700px;
  flex-shrink: 1;
  padding: 15px;
  margin: 0 15px;
}

.todoList__item--done {
  /* text-decoration-line: line-through; */
  /* text-decoration-color: red; */
  color: gray;
}

.todoList__item--done::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 60px;
  right: 60px;
  transform: rotate(-2deg);
  border-top: 1px solid red;
}

.todoForm__button {
  flex-shrink: 0;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-decoration-line: none;
}
.todoForm__button--done {
  background-image: url("/img/green.png");
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.todoForm__button--remove {
  background-image: url("/img/no-entry_26d4.png");
}
